<%= form_for [award, vote] do |f| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <% @teams.each do |team| %>
            <div class="col-sm-4">
              <%= check_box_tag "vote[team_id][]", team.id %> <%= team.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
